@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Yuji+Mai&display=swap');
body{
    margin: 0;
    padding:0;
    font-family: "Inter" ,sans-serif;
    background-color: hsl(0, 0%, 8%);
}


.my-container{
    min-width: 400px;
    margin-top: 15vh;
    max-width:500px;
    padding: 5vh;
    border-radius: 0.4em;
    border : 1px solid black;
    gap: 15px;
    min-width: 300px;
    background-color:  hsl(0, 0%, 12%);

}

.text{
    font-size: 5vw;
    text-align: center;
}

button{
    color: white;
    width: 50vw;
    height: 50px;
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 0.5em;
}

button:hover{
    background-color: hsl(75, 94%, 57%);;
    color: black;
    transition: 1s;
}

@media only screen and (max-width: 768px) {

    .my-container {
      width: 80%; /* Adjust width for smaller screens */
      margin-top: 10vh; /* Adjust margin for better layout */
    }
  
    .text {
      font-size: 4vw; /* Adjust font size for smaller screens */
    }
  
    button {
      width: 100%; /* Make buttons full width on small screens */
    }
  }
